{{ attach_library('vanderbilt_d8/footer') }}
{% if crane_social %}
<div class="vh__site__footer mc__site__footer__fixed mc__site__wrap module__2-UfodP0ZHCwdgo7h5wDyT module">
  <div class="module__F3ONLiSmWCwP_Gne0JZqX">
    <footer>
      <div class="footer col-xs-12">
        <div class="no-json module__3sgycAQHtxgHd0fO2_trjT">
          <div class="module__MroWek4mtJn7njl9R2qLc">
            <ul>
                <li><a href="https://www.facebook.com/VanderbiltHealth" rel="noopener" target="_blank"><span class="module__2SJHmMQqaR6VY-Sm7Uu9uv module__2vZF2B_mzgO1-EL4cUC8LW module__PeUJHvTe3EAaRtg8FMaor" data-icon-type="facebook" data-icon="true">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 266.89 266.89" aria-labelledby="FacebookTitle" role="img"><title id="FacebookTitle">facebook icon</title><g><g><path d="M252.16,0H14.73A14.72,14.72,0,0,0,0,14.73V252.16a14.72,14.72,0,0,0,14.73,14.73H142.56V163.54H107.78V123.26h34.78V93.55c0-34.47,21.05-53.24,51.8-53.24a285.15,285.15,0,0,1,31.08,1.59v36H204.12c-16.73,0-20,7.95-20,19.61v25.72H224l-5.19,40.28h-34.7V266.89h68a14.72,14.72,0,0,0,14.73-14.73V14.73A14.72,14.72,0,0,0,252.16,0Z"></path></g></g></svg></span></a>
                </li>
                <li><a href="https://twitter.com/vumchealth" rel="noopener" target="_blank"><span class="module__2SJHmMQqaR6VY-Sm7Uu9uv module__2vZF2B_mzgO1-EL4cUC8LW module__PeUJHvTe3EAaRtg8FMaor" data-icon-type="twitter" data-icon="true">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 278.16 226.05" aria-labelledby="TwitterTitle" role="img"><title id="TwitterTitle">twitter icon</title><g><g><path d="M278.16,26.76a113.87,113.87,0,0,1-32.78,9A57.22,57.22,0,0,0,270.47,4.18,114.4,114.4,0,0,1,234.23,18a57.1,57.1,0,0,0-97.24,52A162,162,0,0,1,19.37,10.46,57,57,0,0,0,37,86.63a56.63,56.63,0,0,1-25.84-7.14c0,.26,0,.49,0,.73A57.11,57.11,0,0,0,57,136.17a57.49,57.49,0,0,1-15,2,58.65,58.65,0,0,1-10.75-1,57.15,57.15,0,0,0,53.31,39.62,114.54,114.54,0,0,1-70.86,24.44A117.76,117.76,0,0,1,0,200.42a161.6,161.6,0,0,0,87.48,25.63c105,0,162.36-87,162.36-162.35,0-2.48-.06-5-.16-7.41a115.74,115.74,0,0,0,28.48-29.53"></path></g></g></svg></span></a>
                </li>
                <li><a href="https://www.youtube.com/user/vanderbilthealth" rel="noopener" target="_blank"><span class="module__2SJHmMQqaR6VY-Sm7Uu9uv module__2vZF2B_mzgO1-EL4cUC8LW module__PeUJHvTe3EAaRtg8FMaor" data-icon-type="youtube" data-icon="true">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 208.65" aria-labelledby="YoutubeTitle" role="img"><title id="YoutubeTitle">youtube icon</title><g><g><path d="M186.62,168.85h-19v-11c-7.19,8.24-13.28,12.4-19.93,12.4-5.82,0-9.87-2.74-11.9-7.71-1.23-3-2.1-7.74-2.1-14.67V68.06h19v81.83c.44,2.8,1.63,3.82,4,3.82,3.63,0,6.91-3.15,10.93-8.81V68.06h19Z"></path><path d="M100.79,138.91c1,10-2.1,14.93-8,14.93s-9-5-8-14.93V99c-1-10,2.09-14.66,8-14.66s9,4.68,8,14.66Zm19-37.92c0-10.77-2.16-18.86-6-23.95-5.06-6.9-13-9.72-21-9.72-9,0-15.92,2.82-21,9.72-3.89,5.09-6,13.26-6,24l0,35.84c0,10.71,1.86,18.11,5.74,23.16a26.44,26.44,0,0,0,21.21,10.51,26.74,26.74,0,0,0,21.36-10.51c3.82-5,5.58-12.45,5.58-23.16Z"></path><path d="M44.91,114v54.89H25V114S4.27,46.67,0,34.13H21L35,86.69,48.9,34.13h21Z"></path><path d="M456.06,96.08c0-9.22-2.38-12-8.37-12S439.1,86.63,439.1,96v11l17,0Z"></path><path d="M381.64,84.09c-3,0-6.39,1.57-9.41,4.55l0,60.52c3,3,6.45,4.56,9.43,4.56,5.21,0,7.56-3.83,7.56-13.81V97C389.2,87,386.85,84.09,381.64,84.09Z"></path><path d="M497,45h0s-2.91-20.44-11.85-29.44C473.84,3.75,461.14,3.69,455.31,3c-41.7-3-104.25-3-104.25-3h-.13S288.38,0,246.68,3c-5.83.69-18.52.75-29.86,12.57C207.88,24.57,205,45,205,45a445.28,445.28,0,0,0-3,48v22.51a445,445,0,0,0,3,48S207.88,184,216.82,193c11.33,11.81,26.23,11.44,32.86,12.67,23.84,2.28,101.31,3,101.31,3s62.62-.1,104.32-3.1c5.83-.69,18.53-.75,29.86-12.56,8.94-9,11.85-29.45,11.85-29.45a446.51,446.51,0,0,0,3-48V93A446.75,446.75,0,0,0,497,45ZM267.45,168.85h-20V54.08h-21V35.15l62.87,0v19h-22Zm71.85,0H320.35v-11c-7.2,8.24-13.29,12.4-19.93,12.4-5.83,0-9.88-2.74-11.9-7.71-1.23-3-2.1-7.74-2.1-14.67V69.06h18.95v80.83c.45,2.8,1.64,3.82,4.05,3.82,3.63,0,6.91-3.15,10.93-8.81V69.06H339.3Zm68.86-29.94c0,9.23-.79,15.73-2,20-2.42,7.42-7.67,11.27-14.87,11.27-6.42,0-13-3.87-19-11.34l0,10h-18V35.12h18l0,43.61c5.84-7.19,12.45-11.27,19.09-11.27h0c7.2,0,12,4.15,14.44,11.62,1.21,4,2.42,10.47,2.42,19.92Zm39.7,14.8c4.45,0,7-2.41,8.07-7.25.17-1,.13-5.29.13-12.54h19v2.83a111.38,111.38,0,0,1-.64,11.75,25.69,25.69,0,0,1-4.22,10.83c-5,7.24-12.41,10.81-21.85,10.81s-16.65-3.41-21.87-10.22c-3.84-5-6.3-12.41-6.3-23V102c0-10.66,2.24-18.9,6.08-23.94,5.22-6.83,12.41-10.44,21.64-10.44,9.06,0,16.26,3.61,21.32,10.44,3.78,5,5.88,12.84,5.88,23.5V122h-36v17.92C439,149.08,441.66,153.71,447.86,153.71Z"></path></g></g></svg></span></a>
                </li>
                <li><a href="https://www.instagram.com/vanderbilthealth/" rel="noopener" target="_blank"><span class="module__2SJHmMQqaR6VY-Sm7Uu9uv module__2vZF2B_mzgO1-EL4cUC8LW module__PeUJHvTe3EAaRtg8FMaor" data-icon-type="instagram" data-icon="true">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 503.84 503.84" aria-labelledby="InstagramTitle" role="img"><title id="InstagramTitle">instagram icon</title><g><g><path d="M251.92,45.39c67.27,0,75.23.26,101.8,1.47,24.56,1.12,37.9,5.22,46.78,8.67a78,78,0,0,1,29,18.85,78,78,0,0,1,18.85,29c3.45,8.88,7.55,22.22,8.67,46.78,1.21,26.57,1.47,34.53,1.47,101.8s-.26,75.23-1.47,101.8c-1.12,24.56-5.22,37.9-8.67,46.78a83.51,83.51,0,0,1-47.81,47.81c-8.88,3.45-22.22,7.55-46.78,8.67-26.56,1.21-34.53,1.47-101.8,1.47s-75.24-.26-101.8-1.47c-24.56-1.12-37.9-5.22-46.78-8.67a78,78,0,0,1-29-18.85,78,78,0,0,1-18.85-29c-3.45-8.88-7.55-22.22-8.67-46.78-1.21-26.57-1.47-34.53-1.47-101.8s.26-75.23,1.47-101.8c1.12-24.56,5.22-37.9,8.67-46.78a78,78,0,0,1,18.85-29,78,78,0,0,1,29-18.85c8.88-3.45,22.22-7.55,46.78-8.67,26.57-1.21,34.53-1.47,101.8-1.47m0-45.39c-68.42,0-77,.29-103.87,1.52S102.93,7,86.9,13.23A123.52,123.52,0,0,0,42.28,42.28a123.52,123.52,0,0,0-29,44.62C7,102.93,2.74,121.24,1.52,148.05S0,183.5,0,251.92s.29,77,1.52,103.87S7,400.91,13.23,416.94a123.52,123.52,0,0,0,29.05,44.62A123.68,123.68,0,0,0,86.9,490.62c16,6.22,34.34,10.48,61.15,11.71s35.45,1.51,103.87,1.51,77-.29,103.87-1.51,45.12-5.49,61.15-11.71a128.85,128.85,0,0,0,73.68-73.68c6.22-16,10.48-34.34,11.71-61.15s1.51-35.45,1.51-103.87-.29-77-1.51-103.87-5.49-45.12-11.71-61.15a123.68,123.68,0,0,0-29.06-44.62,123.52,123.52,0,0,0-44.62-29C400.91,7,382.6,2.74,355.79,1.52S320.34,0,251.92,0Z"></path><path d="M251.92,122.56A129.37,129.37,0,1,0,381.29,251.92,129.35,129.35,0,0,0,251.92,122.56Zm0,213.33a84,84,0,1,1,84-84A84,84,0,0,1,251.92,335.89Z"></path><circle cx="386.4" cy="117.44" r="30.23"></circle></g></g></svg></span></a>
                </li>
                <li><a href="http://www.mysouthernhealth.com/" rel="noopener" target="_blank">Read our blog</a>
                </li>
            </ul>
          </div>
        </div>
        <div class="json module__2WWy-UR40DIdMRZLCMTea7">
          <div>
            <div>
              {% if footer_headers|first %}
                <h2>{{- footer_headers|first -}}</h2>
              {% else %}
                <h2 style="visibility: hidden;">Column A</h2>
              {% endif %}
            </div>          
              <ul>
                 {% for menu_item in links_column_0 %}
                    <li><a href="{{- menu_item.url -}}" target="_blank" rel="noopener">{{- menu_item.name -}}</a>
                    </li>
                 {% endfor %}
              </ul>
          </div>
          <div>
            <div>
              {% if footer_headers[1] %}
                <h2>{{- footer_headers[1] -}}</h2>
              {% else %}
                <h2 style="visibility: hidden;">Column B</h2>
              {% endif %}
            </div>          
              <ul>
                 {% for menu_item in links_column_1 %}
                    <li><a href="{{- menu_item.url -}}" target="_blank" rel="noopener">{{- menu_item.name -}}</a>
                    </li>
                 {% endfor %}
              </ul>
          </div>
          <div>
            <div>
              <h2>{{- footer_headers[2] -}}</h2>
            </div>          
              <ul>
                 {% for menu_item in links_column_2 %}
                    <li><a href="{{- menu_item.url -}}" target="_blank" rel="noopener">{{- menu_item.name -}}</a>
                    </li>
                 {% endfor %}
              </ul>
          </div>
          <div class="footer-address">
            <div>
              <h2 style="visibility: hidden;">Address</h2>
            </div>          
              <p>{{- crane_address|raw -}}</p> 
          </div>
        </div>
        <div class="json module__3q_H_2egu5S6dRlxATAeO9 module__13au6_9DW0ri-JbqAwlGL-">
          <div>
            <p>{{- mission_statement|raw -}}</p>
            <p>
              Copyright <a href="{{ search_base_path }}/user/login?saml_login=false" style="a:color:inherit;a:text-decoration:inherit;">©</a>{{ 'now' | date('Y') }} by Vanderbilt University Medical Center
            </p>
            <p>
              Vanderbilt®, Vanderbilt University Medical Center®, V Oak Leaf Design®, Monroe Carell Jr. Children’s Hospital at Vanderbilt® and Vanderbilt Health® are trademarks of The Vanderbilt University.
            </p>
          </div>
        </div>
      </div>
      </footer>

  </div>

</div>

{% else %}

{{ attach_library('vanderbilt_d8/footer') }}

<div class="vh__site__footer mc__site__footer__fixed mc__site__wrap module__2-UfodP0ZHCwdgo7h5wDyT module">
  <div class="module__F3ONLiSmWCwP_Gne0JZqX">
    <footer>
      <div class="footer col-xs-12">
        <div class="json module__3q_H_2egu5S6dRlxATAeO9 module__13au6_9DW0ri-JbqAwlGL-">
          <div class="footer-logo-container">
            <a href="http://www.vumc.org/main/">
              {% for link in logo %}
                <img src="{{ theme_path }}/dist{{ link.url|raw }}" data-retina-src="{{ theme_path }}{{ flink.url|raw }}" alt="Vanderbilt University Medical Center" width="231" height="70"> 
              {% endfor %}
              
            </a>
          </div>
          <div>
             {% for text_item in textsection1 %}
                  <p>{{- text_item.text|raw -}}</p> 
              {% endfor %}
          </div>
          <div>
             {% for text_item2 in textsection2 %}
                  {{- text_item2.text|raw -}}
             {% endfor %}
          </div>
        </div>
      </div>
    </footer>

  </div>

</div>
{% endif %}
